:root {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:hover {
    background-color: var(--bg-secondary);
}

.nav-item:hover svg {
    fill: var(--text-secondary);
}

.navbar:hover .logo-text{
    display: block;
}

.nav-item:hover .link-text{
    color: var(--text-secondary);
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--text-primary); 
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    font-size: 1.5rem;
    width: 100%;
}

.logo-text{
    display: none;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

#container-div {
    padding: 1rem;
}

@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
    }

    #container-div {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        height: 5rem;
        width: 100vw;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    #container-div {
        margin-bottom: 5rem;
    }
}

.navigation-buttons {
    display: flex;
}

.nav-but {
    margin: 5px;
    background-color: white;
    border: 1px solid #3585fd;
    border-radius: 3px;
    padding: 3px 5px;
    color: #3585fd;
}

.nav-but:hover {
    color: white;
    background-color: #3585fd;
}

.nav-but:focus-visible {
    outline: 1px solid #3585fd;
}

.stock-item-row {
    vertical-align: middle;
}

.stock-table-but {
    color: #aaaaaa;
    border: 1px solid #dddddd;
    font-size: 9px;
    height: 35px;
    width: 35px;
}

.stock-table-but:hover {
    color: white;
    background-color: #aaaaaa;
}  

#add-item-div {
    display: none;
}

#show-stock-div {
    display: block;
}

#show-item-div {
    display: none;
}

#add-item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-item-data, .change-item-data {
    column-width: 200px;
    padding: 5px 0px;
    vertical-align: top;
}

#add-item-submit, #change-item-submit {
    display: flex;
    justify-content: right;
}

#add-item-submit-input, #change-item-submit-input{
    margin: 5px;
    background-color: white;
    border: 1px solid #3585fd;
    border-radius: 3px;
    padding: 3px 5px;
    color: #3585fd;
}

#add-item-submit-input:hover , #change-item-submit-input:hover {
    color: white;
    background-color: #3585fd;
}

#alerting-element-add, #alerting-element-change {
    color: red;
    font-size: 10pt;
}

.alert-add-item-data, .alert-change-item-data {
    color: red;
}

.quantity-div {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 80px;
    align-items: center;
}

.quantity-but-div {
    display: flex;
    flex-direction: column;
}

.quantity-but {
    display: flex;
    height: 20px; 
    width: 25px;
    border: 1px solid #dddddd;
    align-items: center;
    justify-content: center;
    font-size: 9pt;
    font-weight: bold;
    padding: 0px;
    color: #888888;
}

.quantity-but:hover {
    background-color: #dddddd;
    color: #eeeeee;
}

.quantity-span {
    padding: 5px;
    width: 50px;
}

.quantity-plus {
    font-size: 11pt;
    border-radius: 5px 5px 0px 0px;
}

.quantity-minus {
    border-radius: 0px 0px 5px 5px;
}